
body
{
    padding: 0;
    margin: 0;
    background-color: var(--dark-bgblue);
    color: var(--white-text);
}
html{
    box-sizing: border-box;
    font-size: 100%;
};

*, *::before, *::after{
    box-sizing: inherit;
} 

a, a:visited , a:active{
    text-decoration: none;
}
h1, h2, h3{
    margin-top: 0;
}

:root{
    --dark-bgblue: hsl(230, 17%, 14%);
    --white-text: hsl(0, 0%, 100%);
    --lime-green: hsl(163, 72%, 41%);
    --youtube: hsl(348, 97%, 39%);

}
@media screen and (min-width:768px){
.container
{
    position: relative;
    display: flex;
    justify-content: space-between;

    .header1{
        margin: 10px 10px;
        width: 500px;
        height: 250px;
         box-sizing: border-box; 
        border: 2px solid var(--lime-green);
        padding: 1em;
    };

    .header2{
        margin: 10px 10px;
        width: 500px;
        height: 250px;
        box-sizing: border-box;
        border: 2px solid var(--youtube);
        padding: 1em;
        text-align: center;
        color: var(--lime-green);
    }

}
/* Option tags */
.options{ 
    position: relative;
    
    margin:  20px 20px;
    display: flex;
    box-sizing: border-box;
     justify-content: center; 

    .drp{
        display: none;
    }

    .tags
    {
        list-style: none;
        display: flex;
        margin: auto;
        justify-content: space-around;

        li{
            width: 200px;
           margin-left: 6px;
           text-align: center;
            border: 1px solid var(--youtube);

            a{
                color: var(--white-text);
            }
        }
        
    }
}

}

 @media screen and (max-width:668px){

    

    .header2{
        display: none;
    }
} 

@media screen and (max-width:767px){

    .header1{
        color: aqua;
    }

    .options{
        display: block;
        padding: 0;
        margin: 0;
        
        .drp{
            width: 100px;
            height: 45px;
            background-color: var(--lime-green);
            padding: 1em;
           
            color: var(--dark-bgblue);
            font-weight: 400;
        }
        
        .tags{
            list-style: none;
            margin: 0;
            padding: 0;
            background-color: var(--dark-bgblue);
            width: 50%;
            height: 400px;
            position: absolute;
            display: none;
            left: 0;
            top: 100px;
            
            li{
                margin-top: 4px;
                padding: 10px;
                border: 2px solid var(--lime-green);

                a{
                color: var(--white-text);
            }
            }
            
        }

        

    
    }
    .options:hover .tags
        {
            display: block;
        }
}

 @media screen and (max-width:360px){

    
    .options{
        .drp{
            display: none;
        }
        .tags{
            display: flex;
            flex-direction: column;
            vertical-align: middle;
        }
    }
}


/* .header1{
    color: blueviolet;
} */