/* 
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
 */

 
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');


body{
    padding: 0;
    margin: 0;
    background-color: var(--dark-bg);
    color: var(--dark-text2);
    /* font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; */
    font-family: var(--font-inter); 
} 

html{
    box-sizing: border-box;
}
h1, h2, h3{
    margin-top: 0;
    line-height: 1.1;
}


a, a:visited , a:active{
    text-decoration: none;
}


:root{
    /* Font Root */
    --font-inter: "Inter", sans-serif

    
    /* Colour roots */
    --lime-green: hsl(163, 72%, 41%);
    --brightred: hsl(356, 69%, 56%);
    --youtube: hsl(348, 97%, 39%);
    --white-text: hsl(0, 0%, 100%);
    --Facebook: hsl(208, 92%, 53%);
    --Twitter: hsl(203, 89%, 53%);
    --instagram-start: hsl(37, 97%, 70%);
    --instagram-end: hsl(329, 70%, 58%);
    --toggle-bg-start: hsl(210, 78%, 56%);
    --toggle-bg-end: hsl(146, 68%, 55%);
    --toggle: hsl(230, 22%, 74%);
    --dark-bg: hsl(230, 17%, 14%);
    --dark-top-bg: hsl(232, 19%, 15%);
    --dark-text1: hsl(228, 34%, 66%);
    --dark-card: hsl(228, 28%, 20%);

    --dark-text2: hsl(0, 0%, 100%);
    --light-bg: hsl(0, 0%, 100%);
    --light-top-bg: hsl(225, 100%, 98%);
    --light-card: hsl(227, 47%, 96%);
    --light-text1: hsl(228, 12%, 44%);
    --light-text2: hsl(230, 17%, 14%);

}
/* Global Container */
.container{
    margin: 0 auto 46px;
}
/* Global Header/ title */
.header{
   
/* 
    span{
        font-size: 14px;
        font-weight: bold;
        color: var(--dark-text1);
    } */

    .header__title{

    }

    .header__toggle{

    }
}

/* Global Dark mode switcher */

.toggle{
    border: none; 
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr 58px 1fr;
    grid-template-rows: repeat(2, 1fr);
    
    
    label{
        cursor: pointer;

        &[for="dark"]{
            color: red;
            grid-column: 1/2;
            justify-self: end;
            width: max-content;
        }

        &[for="system"]{
            color: red;
            grid-column: 2/3;
            grid-row: 2/4;
            justify-self: center;
            width: max-content;
        }

        &[for="light"]{
            color: red;
            grid-column: 3/4;
            width: max-content;
            background: transparent;
            
        }
    }

    .toggle-wrapper{
        position: relative;
        grid-row: 1/2;
       grid-column: 2/3;
        height: 24px;
        
    }
    

    input[type="radio"]{
        opacity: 0;
        /* margin: 0; */
        height: 26px;
        cursor: pointer;
        width: 20px;
        margin: 0px -2px 0px -2px;
    }
  


    .toggle-background{
        background: linear-gradient(225deg, var(--toggle-bg-start) 0%, var(--toggle-bg-end) 98.02%);
        height: 100%;
        width: 100%;
        pointer-events: none;
        top: 0;
        border-radius: 12px;
        /* overflow: hidden; */
        display: block;
        position: absolute;
       
    }

    .toggle-switcher{
        position: absolute;
        left: 3px;
        top: 3px;
        right: 100%;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        background-color: var(--dark-bg);
        transition: all 150ms ease-in-out;

       
    }

    #light:checked ~ .toggle-switcher{
        right: 3px;
        left: calc(100% - 21px);
    }

    #system:checked ~ .toggle-switcher{
        left: 50%;
        right: auto;
        transform: translate(-50%);
    }

   
    
}



/* For small screen laptops and wide screens */

@media screen and (min-width:769px){

    

    h1{
        font-size: 1.75rem;
        margin-bottom: 3px;
    }
     .container{
         padding:  1.5625rem;
         max-width: 69.375rem; 
        /* margin: 0 auto 46px; */
       
        
    } 

    /* Header/ title */
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 36px;
        
    }
    
}

/* For Ipads and tablets */

@media (max-width:768px) and (min-width:481px)
{
    h1{
    
        font-size: 1.5rem;
        margin-bottom: 3px;
    }

    .container{
        padding:  1.5625rem; 
        max-width: 63.375rem;
        /* margin: 0 auto 46px; */
        color: blue;
    }

    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 36px;

         span{
            font-weight: bold;
            font-size: 16px;
        }
    } 

    .toggle{
        label{
            &[for="system"]{
                display: none;
            }
        }

        #system{
            display: none;
        }
    }
}

@media screen and (max-width:481px){

    .toggle{
        label{
            &[for="system"]{
                display: none;
            }
        }

        #system{
            display: none;
        }
    }
    
}